<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/Atiqur-Himel/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Atiqur-Himel" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>